@{
    ViewData["Title"] = "Jefferson Maia";
}



<section class="vh-100 mb-5 text-white align-items-center d-flex h-100">
    <div class="container ">
        <div class="row justify-content-center ">
            <div class="col-12 col-lg-10 text-center">
                <div id="controle" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <h5 class="fs-4">Olá, visitante!</h5>
                            <h1 class="fw-bold display-4">Meu nome é <span class="purple">Jefferson</span></h1>
                            <h3 class="fs-5">Desenvolvedor FullStack</h3>

                            <div class="mt-4 d-flex justify-content-center gap-4 flex-wrap">
                                <a href="https://linkedin.com/in/jefferson-maia88">
                                    <img src="~/images/linkedin.png" width="30" alt="LinkedIn" class="img-fluid">
                                </a>
                                <a href="https://github.com/jeffmaia88">
                                    <img src="~/images/github.png" width="30" alt="GitHub" class="img-fluid">
                                </a>
                                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=jefferson.reis88@gmail.com&su=Contato via portfólio"
                                    target="_blank">
                                    <img src="~/images/mail.png" width="40" alt="Email" class="img-fluid">
                                </a>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <h5 class="fs-4">Teste Carousel</h5>
                            <h1 class="fw-bold display-4">2º Item</h1>
                            <h3 class="fs-5">Alguns Projetos</h3>

                            <div class="mt-4 d-flex justify-content-center gap-4 flex-wrap">
                                <a href="https://linkedin.com/in/jefferson-maia88">
                                    <img src="~/images/linkedin.png" width="30" alt="LinkedIn" class="img-fluid">
                                </a>
                                <a href="https://github.com/jeffmaia88">
                                    <img src="~/images/github.png" width="30" alt="GitHub" class="img-fluid">
                                </a>
                                <a href="#">
                                    <img src="~/images/mail.png" width="40" alt="Email" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Controles do Carrossel -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#controle" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#controle" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Próximo</span>
                    </button>

                </div> <!-- Fim do Carousel -->
            </div>
        </div>
    </div>
</section>


<section class="mt-5">
    <div class="container ">
        <div class="row">
            <div class="col-md-8 d-flex hidden-left">
                <div class="align-self-center">
                    <h5 class="fs-6 text-warning">SOBRE MIM</h5>
                    <h2 class="display-5">Conheça mais sobre mim</h2>
                    <p class="fs-4 mt-5">
                        Sou desenvolvedor Full-Stack e tenho experiência em projetos desenvolvidos com <span
                            class="highlights">ASP.NET</span>, <span class="highlights">PHP</span>,
                        <span class="highlights">C#</span>, <span class="highlights">HTML</span>,
                        <span class="highlights">CSS</span> e <span class="highlights">Javascript</span>, além de
                        utilizar <span class="fst-italic">frameworks</span> como <span
                            class="highlights">Bootstrap</span> e <span class="highlights">Entity
                            Framework</span>.
                    </p>

                    <p class="fs-4">Sou formado em <span class="highlights">Sistemas de Informação</span> pela
                        Universidade <span class="highlights">Estácio de Sá</span>, concluindo
                        meus estudos em 2022. Complementarmente, possuo certificações em cursos de desenvolvimento
                        ministrados por instituições e empresas renomadas, incluindo <span
                            class="highlights">DIO</span>, <span class="highlights">SENAC-RJ</span>,
                        <span class="highlights">COTI</span> e
                        <span class="highlights">Udemy</span>.
                    </p>

                    <p class="fs-4">Além das habilidades em tecnologias de desenvolvimento, possuo conhecimento e
                        experiência com ferramentas como <span class="highlights">Adobe Photoshop</span>, que utilizo
                        para criar e otimizar imagens em
                        meus projetos, e <span class="highlights">Figma</span>, essencial para a estruturação e
                        prototipagem do modelo visual dos
                        projetos.</p>

                    <p class="fs-4">Estou pronto para ingressar na sua equipe de desenvolvedores e contribuir para o
                        crescimento e
                        sucesso dos negócios da sua empresa.</p>

                </div>

            </div>
            <div class="col-md-4  align-self-center hidden-right">
                <img src="~/images/techs.png" class="img-fluid ms-2" alt="Tecnologias">
            </div>
        </div>

        <div class="d-flex flex-wrap justify-content-center gap-3 mt-5 hidden-bottom"> <!-- Cards de tecnologia -->
            
            <div class="card bg-dark text-white text-center cards" style="width: 93px">
                <div class="card-body">
                    <img src="~/images/html.png" class="img-fluid mb-2" alt="HTML">
                    <h5>HTML</h5>
                </div>
            </div>
            <div class="card bg-dark text-white text-center cards" style="width: 93px">
                <div class="card-body">
                    <img src="~/images/css.png" class="img-fluid mb-2" alt="CSS">
                    <h5>CSS</h5>
                </div>
            </div>

            <div class="card bg-dark text-white text-center cards" style="width: 93px">
                <div class="card-body">
                    <img src="~/images/js.png" class="img-fluid mb-2" alt="JavaScript">
                    <h5>JavaScript</h5>
                </div>
            </div>

            <div class="card bg-dark text-white text-center cards" style="width: 93px">
                <div class="card-body">
                    <img src="~/images/bootstrap.png" class="img-fluid mb-2" alt="Bootstrap">
                    <h5>Bootstrap</h5>
                </div>
            </div>

            <div class="card bg-dark text-white text-center cards" style="width: 93px">
                <div class="card-body">
                    <img src="~/images/sharp.png" class="img-fluid mb-2" alt="C#">
                    <h5>C#</h5>
                </div>
            </div>

            <div class="card bg-dark text-white text-center cards" style="width: 93px">
                <div class="card-body">
                    <img src="~/images/asp.png" class="img-fluid mb-2" alt="ASP.NET">
                    <h5>Asp.NET</h5>
                </div>
            </div>

            <div class="card bg-dark text-white text-center cards" style="width: 93px">
                <div class="card-body">
                    <img src="~/images/sql.png" class="img-fluid mb-2" alt="SQL Server">
                    <h5>SQL Server</h5>
                </div>
            </div>

            <div class="card bg-dark text-white text-center cards" style="width: 93px">
                <div class="card-body">
                    <img src="~/images/mysql.png" class="img-fluid mb-2" alt="MySQL">
                    <h5>MySQL</h5>
                </div>
            </div>

            <div class="card bg-dark text-white text-center cards" style="width: 93px">
                <div class="card-body">
                    <img src="~/images/node.png" class="img-fluid mb-2" alt="Node.js">
                    <h5>Node JS</h5>
                </div>
            </div>

            <div class="card bg-dark text-white text-center cards" style="width: 93px">
                <div class="card-body">
                    <img src="~/images/php.png" class="img-fluid mb-2" alt="PHP">
                    <h5>PHP</h5>
                </div>
            </div>

            <div class="card bg-dark text-white text-center cards" style="width: 93px">
                <div class="card-body">
                    <img src="~/images/PS.png" class="img-fluid mb-2" alt="Photoshop">
                    <h5>PS</h5>
                </div>
            </div>

            <div class="card bg-dark text-white text-center cards" style="width: 93px">
                <div class="card-body">
                    <img src="~/images/figma.png" class="img-fluid mb-2" alt="Figma">
                    <h5>Figma</h5>
                </div>
            </div>

        </div>


    </div>
</section>
