@{
    ViewData["Title"] = "Jefferson Maia";
}




<div class=" d-flex justify-content-center align-items-center vh-100 text-white principal bg-dark">
    <div class="text-center">
        <h5 class=" fs-3 text display-4">Olá, visitante!</h5>
        <h1 class="display-4">Meu nome é Jefferson Maia</h1>
        <h3 class="fs-3 display-5">Desenvolvedor FullStack</h3>
    </div>
</div>


@section Estilos {
    <style>
        .principal {
            background-image: url('@Url.Content("~/images/bgindex2.jpg")');
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            width: 100vw;
        }
    </style>
}
