html {
  font-size: 14px;
   position: relative;
   min-height: 100%;
  }

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* ----------------- Variaveis ------------------*/
:root {
  --main-color: #f1bf26;
  --border-color: #7911fa;

}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
  background-image: url("../images/bgindex2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

}

#colorlinks a {
  color: #ffffff
}

#colorlinks a:hover {
  color: var(--border-color);
}

.line-bottom {
  border-bottom: 1px solid var(--border-color);
}

.line-top {
  border-top: 1px solid var(--border-color);
}




.highlights {
  color: var(--main-color);
  font-weight: bold;
}

.purple {
  color: var(--border-color);
}

.cards {
  border-bottom: 3px solid var(--border-color);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 

}
.cards h5 {
  font-size: 0.7em;
  text-align: center;
  margin-top: 20px;
}